<footer class="footer">
  <small>
    DNA Testing
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Testing Options", testing_options_path %></li> 
      <li><%= link_to "Our Process", our_process_path %></li>
    </ul>
  </nav>
</footer>